<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>

      <%= render 'posts/form' if !current_user.nil? &&
                                      current_user.id.to_s==params[:id] %>
      <br />
      <% unless @user.posts.empty? %>
        <span class="span-4">Your posts:</span>
        <br />
        <br />
        <table class="posts" summary="User posts">
          <%= render @posts %>
        </table>
        <%= will_paginate @posts %>
      <% end %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %><br />
      <strong>Posts</strong> <%= @user.posts.count %>
    </td>
  </tr>
</table>

