<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @news.user_id %>
</p>

<p>
  <b>Category:</b>
  <%= @news.category_id %>
</p>

<p>
  <b>Topic:</b>
  <%= @news.topic %>
</p>

<p>
  <b>Text:</b>
  <%= @news.text %>
</p>

<p>
  <b>Source:</b>
  <%= @news.source %>
</p>

<p>
  <b>Tags:</b>
  <%= @news.tags %>
</p>

<p>
  <b>Rating:</b>
  <%= @news.rating %>
</p>


<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_path %>
