  <table class="front">
    <tr>
    <p>Sort news by</p>
    <%= form_tag root_path, :method => :get do %>
    <%= radio_button_tag :order, 'desc', params[:order] == 'desc' %> убыванию  <br/>
    <%= radio_button_tag :order, 'asc', params[:order] == 'asc' %> по возрастанию
    <br/>
    Фильтр:  <br/>
    по теме: <%= text_field_tag :topic, params[:topic], :size => 10  %><br/>
    с текстом: <%= text_field_tag :text, params[:text], :size => 10  %><br/>
    по категории:
        <select name="category_id">
        <% @categories.each do |cat|%>
        <option value="<%=cat.id%>"><%=cat.name%></option>
        <% end %>
    </select>
    <%= submit_tag 'Sort' %>
    <% end %>
    <%= will_paginate @posts %>
    <%= render :partial => @posts %>
    </tr>
  </table>

