<div class="post" id=<%="post#{post.id}" %>>
    <p class="title colborder">
      <%= link_to post.topic.html_safe,post_path(post) %>
    </p>
    <p>
      Posted <%= time_ago_in_words(post.created_at) %> ago by
      <%= link_to post.user.name,user_path(post.user), :class => "author" %>
    </p>
    <p>
      <b>Category:</b>
      <%= link_to post.category.name,post.category %>
    </p>
    <p>
      <strong>
        Tags:
      </strong>
      <%= post.tags.collect{|tag| tag.name+" "} %>
    </p>
    <p>
      <strong>
        Text:
      </strong>
      <%= post.text.html_safe %>
    </p>
    <%= render :partial => "posts/rating",:locals =>{:post => post} %>
</div>

