<div class="post" id=<%="post#{post.id}" %>>
    <p class="title colborder">
      <%= link_to post.topic,post_path(post) %>
    </p>
    <p>
      Posted <%= time_ago_in_words(post.created_at) %> ago by
      <%= link_to post.user.name,user_path(post.user), :class => "author" %>
    </p>
    <p>
      <b>Category:</b>
      <%= post.category.name %>
    </p>
    <p>
      <strong>
        Tags:
      </strong>
      <%= post.tags.collect{|tag| tag.name+" "} %>
    </p>
    <p>
      <strong>
        Source:
      </strong>
      <%= post.source %>
    </p>
    <div>
      <%= post.text %>
    </div>
    <%= render :partial => "posts/rating",:locals =>{:post => post} %>
</div>

