<div id=<%="post#{@post.id}" %>>
  <p id="notice" ><%= notice %></p>
  <span class="subheader">
    <% if logged_in?&&current_user.admin? %>
    <%= link_to 'Edit post', edit_post_path(@post) %>
    <% end %>
  </span>
  <br />
  <span class="title colborder">
    <%= @post.topic %>
  </span>
  <span>
    <%= link_to @post.user.name,user_path(@post.user), :class => "author" %>
    Posted <%= time_ago_in_words(@post.created_at) %> ago. <br />
  </span>

  <span>
    <b>Category:</b>
    <%= @post.category.name %>
  </span>
  <span>
    <b>Tags:</b>
    <%= @post.tags %>
  </span>
  <span>
    <b>Source:</b>
    <%= @post.source %>
  </span>
  <br />
  <br />
  <p>
<% unless @post.tags.blank? %>
<p><strong>Tags:</strong>
<%= @post.tags.collect{|tag| tag.name} %></p>

<% end %>
  </p>
  <%= render :partial => "posts/rating",:locals =>{:post => @post} %>
</div>
  <br />
  <br />
  <br />

    <%= render 'comments/form' %>
  <%= render @comments%>

