<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @post.user.name %>
</p>

<p>
  <b>Category:</b>
  <%= @post.category.name %>
</p>

<p>
  <b>Topic:</b>
  <%= @post.topic %>
</p>

<p>
  <b>Text:</b>
  <%= @post.text %>
</p>

<p>
  <b>Source:</b>
  <%= @post.source %>
</p>

<p>
  <b>Tags:</b>
  <%= @post.tags %>
</p>

<p>
  <b>Rating:</b>
  <%= @post.rating %>
</p>
<% if signed_in? %>
  <%= render 'comments/form' %>
<% end %>
<%= render @comments%>
<% if signed_in? %>
<%= link_to 'Edit', edit_post_path(@post) %>|
<% end %>
<%= link_to 'Back', posts_path %>

