<p id="notice"><%= notice %></p>
<ul id="menu">
  <% for cat in Category.roots %>
    <li><%= link_to cat.name, cat %></li>
  <% end %>
</ul>
<div>
<% for cat in @category.ancestors.reverse %>
  <%= link_to cat.name, cat %> &gt;
<% end %>
</div>
<p>
  <b>Name:</b>
  <%= @category.name %>
</p>
<% unless @category.children.empty? %>
  <ul id="submenu">
  <% for cat in @category.children %>
  <li><%= link_to cat.name, cat %></li>
  <% end %>
  </ul>
<% end %>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>

